
:root {
  --titleColor: #212529;
  --titleFont: 'Poppins', sans-serif;
  --textColor: black;
  --textFont: 'Didact Gothic', sans-serif;
  --buttonColor: #E5354C;
  --buttonTextColor: white;

  --infoTextColor: black;
  --infoColor: #f2f2f0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--textFont);
  color: var(--textColor);
  background-color: #fafbfc;
  /* background-image: linear-gradient(to top, #3d1353 0%, #17263f 100%); */
}

.section {
  padding: 0 1em 0 1em;
}

h1, h2 {
  font-weight: 700;
  color: var(--titleColor);
  font-family: var(--titleFont);
  line-height: 100%;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 1.5em;
  margin-bottom: .4em;
}

h3 {
  margin-top: 0;
}

/* portrait only ! */
#info-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#wind-info {
  grid-row: 1;
  grid-column: 1;
}

#waves-info {
  grid-row: 1;
  grid-column: 2;
}

#waves-info > h2 {
  text-align: right;
  margin-top: 0;
}

#sky-info {
  grid-row: 2;
  grid-column: 1 /  span 2;
}
/* end portrait only ! */

.info-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
  background-color: grey;
}

.info-box > div {
  margin: 1em;
}




/* todo rm useless */

.hidden {
  max-height: 0 !important;
  padding: 0 !important;
  margin:0 !important;
  color: rgba(0,0,0,0);
  visibility: hidden;
  transition: all .5s;
}

.bigger {
  transform: scale(1.1);
  transition: all 0s !important;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: .8em;
  }

  .button {
    padding: 4px 7px;
  }
}