:root {
  --titleColor: #212529;
  --titleFont: 'Poppins', sans-serif;
  --textColor: black;
  --textFont: 'Didact Gothic', sans-serif;
  --buttonColor: #E5354C;
  --buttonTextColor: white;

  --infoTextColor: black;
  --infoColor: #00000020;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 700px;
  margin: auto;
  overflow-x: hidden;
  font-family: var(--textFont);
  color: var(--textColor);
  background-color: #fafbfc;
  /* background-image: linear-gradient(to top, #3d1353 0%, #17263f 100%); */
}

.section {
  padding: 0 1em 1em 1em;
}

h1, h2 {
  margin: 0;
  font-weight: 700;
  color: var(--titleColor);
  font-family: var(--titleFont);
  line-height: 100%;
}

h1 {
  font-size: 1.5em;
  flex-shrink: 1;
}

h2 {
  font-size: 1.5em;
  margin-bottom: .4em;
}

h3 {
  margin: 0 0 .2em 0;
}

#header-section {
  padding: 2em 2em 0 2em;
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#location {
  font-size: 2em;
}

#summary-section {
  padding: 0 2em 0 2em;
  text-align:center; 
}

#day-section {
  padding-bottom: 0;
}

#day-section > .info-box {
  background: none;
}

/* /// INFO BOXES /// */

/* portrait only ! */
#info-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.info-category {
  display:grid;
  grid-template-rows: auto 1fr;
  align-items: stretch;
}

#wind-info {
  grid-row: 1;
  grid-column: 1;
}

#wind-info > .info-box {
  border: 2px solid #e5354c;
}

#waves-info {
  grid-row: 1;
  grid-column: 2;
}

#waves-info > .info-box {
  border: 2px solid #3a46dd;
}

#waves-info > h2 {
  text-align: right;
  margin-top: 0;
}

#sky-info {
  grid-row: 2;
  grid-column: 1 /  span 2;
}
/* end portrait only ! */

.info-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: .8em 0 0 1em;
  background-color: var(--infoColor);
  border-radius: 1em;
}

.info-box > div {
  margin: 0 1em 1em 0;
  flex-grow: 1;}

.info-title {
  display: block;
}

.info-value {
  font-weight: 700;
}

/* /// TIMELINE /// */

#timeline {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-column-gap: .3em;
}

#timeline > div {
  height: 4em;
  width: 100%;
  background-color: red;

}


/* /// OTHER /// */

/* todo rm useless */

.hidden {
  max-height: 0 !important;
  padding: 0 !important;
  margin:0 !important;
  color: rgba(0,0,0,0);
  visibility: hidden;
  transition: all .5s;
}

.bigger {
  transform: scale(1.1);
  transition: all 0s !important;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: .8em;
  }

  .button {
    padding: 4px 7px;
  }
}