@import "/components/abstracts/variables.scss";

// usage @import "/components/abstracts/mixins.scss";

@mixin focused {
  box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.8), 0 0 0 4pt rgba(0, 0, 0, 0.4);
}

@mixin tab {
  padding: 2em 1.5em;
  background: $tabColor;

  // todo RwD
}

@mixin flex {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}
// to be used in addition with ...
// flex-direction: row;
// flex-direction: column;
// align-self: stretch;

// todo : hybrid flex col / row for RWD

// cf https://responsivedesign.is/develop/getting-started-with-sass-and-breakpoint-mixin/
@mixin breakpoint($point) {
  @if $point == tiny {
    @media (min-width: 380px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1000px) {
      @content;
    }
  }
}
