// usage @import "/components/abstracts/variables.scss";

$titleColor: #262626;
$titleFont: "Poppins", sans-serif;

$dataColor: #000;

$labelColor: rgba(0, 0, 0, 0.7);
$labelBgColor: #e3e7e8;

$buttonColor: #fff;
$buttonBgColor: #e7501e;
$buttonBgColorSecondary: #177d92;

$tabColor: #fff;
$tabColorSecondary: rgba(255, 255, 255, 0.8);

// cf https://sass-guidelin.es/#responsive-web-design-and-breakpoints
$breakpoints: (
  "tiny": (
    min-width: 350px,
  ),
  "small": (
    min-width: 600px,
  ),
  "medium": (
    min-width: 800px,
  ),
  "large": (
    min-width: 1000px,
  ),
  "huge": (
    min-width: 1200px,
  ),
);

// todo: rm (non sass duplicate)
:root {
  --titleColor: #262626;
  --titleFont: "Poppins", sans-serif;
  --dataColor: #000;

  --labelColor: rgba(0, 0, 0, 0.7);
  --labelBgColor: #e3e7e8;

  --buttonColor: #fff;
  --buttonBgColor: #e7501e;
  --buttonBgColorsecondary: #177d92;

  --tabColor: #fff;
  --tabColorSecondary: rgba(255, 255, 255, 0.8);
}
