// usage @import "/components/abstracts/variables.scss";

$titleColor: #262626;
$titleFont: "Poppins", sans-serif;
$dataColor: #000;

$labelColor: rgba(0, 0, 0, 0.7);
$labelBgColor: #e3e7e8;

$buttonColor: #fff;
$buttonBgColor: #e7501e;
$buttonBgColorSecondary: #177d92;

$tabColor: #fff;
$tabColorSecondary: rgba(255, 255, 255, 0.8);

// todo: rm (non sass duplicate)
:root {
  --titleColor: #262626;
  --titleFont: "Poppins", sans-serif;
  --dataColor: #000;

  --labelColor: rgba(0, 0, 0, 0.7);
  --labelBgColor: #e3e7e8;

  --buttonColor: #fff;
  --buttonBgColor: #e7501e;
  --buttonBgColorsecondary: #177d92;

  --tabColor: #fff;
  --tabColorSecondary: rgba(255, 255, 255, 0.8);
}
