@import "/components/abstracts/mixins.scss";

.home {
  height: 100vh;
  width: 100vw;
  padding: 8vh 0.125em 0.125em 0.125em;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .title {
    margin-bottom: 8vh;
    @include tab;
    background: none;
    p {
      margin-top: 1em;

      font-size: min(1.25rem, 9vw);
      height: 1.15em;
      line-height: 1.15;

      letter-spacing: 0.07ch;
      text-align: right;
    }

    h1 {
      text-align: right;
      width: auto;
      font-size: min(5rem, 20vw);
      font-weight: 900;
      line-height: 0.85em;
    }
  }
  .container {
    @include tab;
    border-radius: 1.4rem;
    max-width: 28.4em;
    width: 100%;
    margin-bottom: 8vh;
    .label {
      display: block;
      padding-left: 0.4em;
      margin-bottom: 0.4em;
    }
    .search-bar input {
      width: 100%;
    }
  }
}
