@import "/components/abstracts/variables.scss";
@import "/components/molecules/SearchBar.scss";

// elements
.data {
  font-size: 1.5em;
  font-weight: 600;
}

.data--small {
  font-weight: 600;
}

.map-label--orange {
  color: $buttonColor;
  background: $buttonBgColor;
}

.map-label--teal {
  color: $buttonColor;
  background: $buttonBgColorSecondary;
}
