@import "./common.scss";
@import "./components";
@import "./map";

body {
  background: linear-gradient(
      198.04deg,
      rgba(0, 211, 255, 0.3) 22.99%,
      rgba(255, 63, 0, 0.3) 85.77%
    ),
    #e3e8e7;
  background-attachment: fixed;
}

header {
  background-color: $titleColor;
  padding: 0 2em;
  div {
    max-width: 1200px;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .header__title {
    color: white;
    font-weight: 900;
    font-size: 1.5em;
  }
}

#dashboard {
  max-width: 900px;
  margin: 2em auto;
  border: 0.125em solid rgba(0, 0, 0, 0);
  border-radius: 2em;
  overflow: hidden;
  filter: drop-shadow(0px 0.2em 2em rgba(0, 0, 0, 0.1));
}

#time-tab {
  background: $tabColorSecondary;
  #time-section {
    order: 0;
    margin-bottom: 1.5em;
    #time-info {
      order: 1;
      flex-grow: 2;
      p {
        text-align: center;
      }
    }
    #btn-minus-3h {
      order: 0;
    }
    #btn-plus-3h {
      order: 2;
    }
  }
  #btn-show-timetable {
    order: 2;
    margin-bottom: -3.4em;
  }
  #timetable {
    order: 1;
    width: 100%;
    > div {
      margin-bottom: 1.5em;
    }
  }
}

//#map-tab from map.scss

#weather-tab {
  p {
    text-align: center;
  }
  .icon-holder {
    width: 4em;
    height: 4em;
    margin: auto;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

#wind-waves-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.125em;
  .tab {
    background: $tabColorSecondary;
  }
  .title-line {
    margin-bottom: 2.5em;
    h2 {
      font-size: 1.5em;
    }
    img {
      max-width: 2em;
      max-height: 2em;
    }
  }
  .data-line {
    margin-bottom: 1.25em;
    &:last-child {
      margin-bottom: 0;
    }
    .data {
      text-align: right;
    }
  }
}

#forecast-tab {
  h2 {
    font-size: 1.5em;
  }
}

// DESKTOP ONLY
@media (min-width: 800px) {
  *,
  *::before,
  *::after {
    font-size: inherit;
  }
  body {
    font-size: 90%;
  }

  .tab {
    padding: 2em;
  }
}

@media (min-width: 600px) {
  #dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 0 0.125em;
    grid-template-areas:
      "location time"
      "map time"
      "map weather"
      "map wind-weather"
      "forecast forecast";
  }
  #location-tab {
    grid-area: location;
  }
  #time-tab {
    grid-area: time;
    z-index: 0;
  }
  #map-tab {
    grid-area: map;
    padding-bottom: 2em;
    padding-top: 0em;
  }
  #weather-tab {
    grid-area: weather;
    padding-top: 3em;
  }
  #wind-waves-tab {
    grid-area: wind-weather;
  }
  #forecast-tab {
    grid-area: forecast;
    margin-top: 0.125em;
  }
}
