@import "./search-bar.scss";

// block components
.tab {
  padding: 2em 1.5em;
  background: var(--tabColor);
}

.flex {
  display: flex;
  gap: 1em;

  justify-content: space-between;
  align-items: center;
}

.flex--horizontal {
  flex-direction: row;
}

.flex--vertical {
  flex-direction: column;
}

.flex-item--stretch {
  align-self: stretch;
}

// elements
.data {
  font-size: 1.5em;
  font-weight: 600;
}

.data--small {
  font-weight: 600;
}

.btn {
  color: var(--buttonColor);
  font-weight: 700;
  background: var(--buttonBgColor);
  border-radius: 3em;
  padding: 0.625em 0.75em;
  &:focus-within {
    @include focused;
  }
}

.btn--teal {
  background-color: var(--buttonBgColorsecondary);
}

label {
  color: var(--labelColor);
}

.map-label {
  padding: 0.25em 0.5em;
  border-radius: 1em;
  color: var(--buttonColor);
  background: var(--buttonBgColor);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.map-label--orange {
  color: var(--buttonColor);
  background: var(--buttonBgColor);
}

.map-label--teal {
  color: var(--buttonColor);
  background: var(--buttonBgColorsecondary);
}
