@import "/components/abstracts/mixins.scss";
@import "/components/abstracts/variables.scss";

.forecast-graph {
  overflow-x: scroll;
  position: relative;
  height: 140px;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .recharts-surface,
  .recharts-wrapper {
    margin-bottom: -2em;
  }
  .grid-label {
    position: absolute;
  }
  .cursor {
    position: absolute;
    z-index: 1;
    height: 5.5em;
    width: 0.125em;
    &.primary {
      background-color: $buttonBgColor;
    }
    &.secondary {
      background-color: $buttonBgColorSecondary;
    }
  }

  .graph-label {
    text-align: center;
    margin-top: 2em;
  }
}
