@import "/components/abstracts/mixins.scss";
@import "/components/abstracts/variables.scss";

.forecast-graph {
  overflow-x: scroll;
  // margin-bottom: -2em;
  .hoverlayer {
    .axistext,
    .hovertext {
      rect,
      path {
        display: none;
      }
      text {
        background-color: red;
        border-radius: 3em;
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
