@import "/components/abstracts/mixins.scss";
@import "/components/abstracts/variables.scss";

.forecast-graph {
  overflow-x: scroll;
  margin-bottom: -2.25em;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .cursor {
    position: fixed;
    z-index: 100;
    height: 5.5em;
    width: 0.125em;
    &.primary {
      background-color: $buttonBgColor;
    }
    &.secondary {
      background-color: $buttonBgColorSecondary;
    }
  }
}
