@import "/components/abstracts/mixins.scss";

.value {
  &.default {
    font-size: 1.5em;
    font-weight: 600;
  }
  &.small {
    font-weight: 600;
  }
  // &.slim {
  //   // none
  // }
  &.title {
    font-size: 1.5em;
    font-weight: 600;
    color: $titleColor;
  }
  text-align: center;
}
