@import "/components/abstracts/mixins.scss";
@import "/components/abstracts/variables.scss";

.search-bar {
  position: relative;

  input {
    color: $labelColor;
    background: $labelBgColor;
    border-radius: 3em;
    padding: 0.4em 1.9em 0.4em 0.5em;
    &:not(:placeholder-shown),
    &:focus {
      width: 100%;
      color: $titleColor;
    }
    transition: all 200ms ease;

    &:focus {
      @include focused;
    }
    &:hover {
      @include focused;
    }
    z-index: 1;
  }

  .search-icon {
    display: inline-block;
    cursor: pointer;
    background-image: url("~/components/atoms/icons/search.svg");
    background-repeat: no-repeat;

    position: absolute;
    top: 0em;
    right: 0em;
    border: solid 0.4em #00000000;
    background-size: contain;
    width: 2.3em;
    height: 2.3em;
    border-radius: 0 50% 50% 0;
    z-index: 0;
    transition: all 200ms ease;
    &:hover {
      @include focused;
    }
    &:focus {
      @include focused;
    }
  }
  &:not(:focus-within) > .search-icon {
    // pointer-events: none;
  }
}
