@import "/components/abstracts/mixins.scss";
@import "/components/abstracts/variables.scss";

.forecast-tab {
  @include tab;
  .graph-holder {
    height: 140px;
    overflow-x: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .cursor {
      position: absolute;
      z-index: 1;
      height: 5.5em;
      width: 0.125em;
      &.primary {
        background-color: $buttonBgColor;
      }
      &.secondary {
        background-color: $buttonBgColorSecondary;
      }
    }

    .graph-label {
      text-align: center;
      margin-top: 2em;
    }
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 1em;

    .Dropdown-root {
      position: relative;

      .Dropdown-control {
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        cursor: default;
        outline: none;
        padding: 8px 52px 8px 10px;
        border-radius: 1.4rem;
        background: $labelBgColor;

        transition: all 200ms ease;

        &:hover {
          @include focused;

          cursor: pointer;
        }
        &:focus-within {
          @include focused;
        }

        .Dropdown-arrow {
          content: url("/components/atoms/icons/down-arrow.svg");
          display: block;
          position: absolute;
          right: 10px;
          top: 10px;

          transition: all 200ms ease;
        }
      }
      &.is-open {
        .Dropdown-control {
          border-radius: 1.4rem 1.4rem 0 0;
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }
        .Dropdown-arrow {
          transform: rotate(180deg);
        }
      }
      .Dropdown-menu {
        border-radius: 0 0 1.4rem 1.4rem;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        background-color: $tabColor;
        box-sizing: border-box;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 2;
        -webkit-overflow-scrolling: touch;

        & .Dropdown-group > .Dropdown-title {
          padding: 8px 10px;
          color: rgba(51, 51, 51, 1);
          font-weight: bold;
          text-transform: capitalize;
        }

        .Dropdown-option {
          box-sizing: border-box;
          color: $labelColor;

          cursor: pointer;
          display: block;
          padding: 8px 10px;

          &:hover,
          &.is-selected {
            background: $labelBgColor;
            color: $titleColor;
          }
        }
      }

      .Dropdown-noresults {
        box-sizing: border-box;
        color: $labelBgColor;
        cursor: default;
        display: block;
        padding: 8px 10px;
      }
    }
  }
}
