@import "/components/abstracts/variables.scss";
@import "/components/abstracts/mixins.scss";

.header {
  background-color: $titleColor;
  padding: 0 2em;
  div {
    @include flex;
    max-width: 900px;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .header__title {
    color: white;
    font-weight: 900;
    font-size: 1.5em;
  }
}
