@import "/components/abstracts/mixins.scss";
//@import "/components/abstracts/variables.scss";

.map-tab {
  @include tab;
  @include flex;

  padding-bottom: 0; // cf media query
  padding-top: 3.5em; //cf media query

  #compass-holder {
    margin: auto 0;
    width: 100%;
    border-radius: 100%;
    padding: 0.2em;
    background-color: $labelBgColor;
    background: linear-gradient(
      24deg,
      rgb(255, 242, 231) 0%,
      rgb(186, 184, 199) 40%,
      rgb(250, 241, 234) 90%
    );
  }
  #compass {
    position: relative;
    margin: auto 0;
    padding: 1.8em;
    border-radius: 100%;
    width: 100%;
    // clip-path: circle(50%);
    background: linear-gradient(
      14deg,
      #ffffff00 40%,
      #ffffff80 50%,
      #ffffff00 60%
    );
  }

  .map__overlay {
    position: absolute;
    width: calc(100% - 3.6em);
    height: calc(100% - 3.6em);
    z-index: 2;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: auto;
    display: grid;
    .map-label,
    img {
      margin: auto;
      grid-area: 1 / 1 / 2 / 2;
    }
    img {
      max-height: 20%;
    }
  }

  #compass-ticks {
    background-image: url("/components/atoms/compass-ticks.svg");
    background-size: 95%;
  }

  #wind-arrow {
    // background-image: url("vector/wind-kite-arrow.svg");
    //z-index: 3;
    // done via script
    // transform: rotate(69deg) translateY(-5em);
    // #map__label-offset {
    //   transform: rotate(-69deg) translateY(-3em);
    // }
  }

  #waves-arrow {
    //    background-image: url("vector/waves-kite-arrow.svg");
    // done via script
    // transform: rotate(65deg) translateY(-5em);
    // .map__label-offset {
    //   transform: rotate(-65deg) translateY(3em);
    // }
  }

  #map {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 100%;
    clip-path: circle(50%);

    background-color: #75cff0;
  }
  .mapboxgl-control-container {
    visibility: hidden;
  }

  .cardinal-grid {
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 30% 40% 30%;
    pointer-events: none;
  }

  #cardinals-secondary {
    font-size: 0.8em;
    font-weight: 100;
    transform: rotate(-45deg);
  }

  .cardinal-point {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.1em;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    text-align: center;

    line-height: 0.95em;

    /* background-color: pink; */
  }
  #cardinals-secondary > .cardinal-point {
    margin: 0.2em;
  }

  .cardinal-point > span {
    display: inline-block;
    margin-left: -100%; /* align center overflowing text trick */
    margin-right: -100%;
    text-align: center;
  }

  #cardinals-primary > .cardinal-point {
    color: $titleColor;
  }

  #cardinals-secondary > .cardinal-point {
    transform: rotate(45deg);
    color: $titleColor;
    font-weight: normal;
  }

  .cardinal-top {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    justify-self: center;
  }
  .cardinal-left {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: left;
  }
  .cardinal-right {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
    justify-self: right;
  }
  .cardinal-down {
    grid-row: 3;
    grid-column: 2;
    align-self: end;
    justify-self: center;
  }
}
