@import "/components/abstracts/mixins.scss";

.time-tab {
  .main {
    text-align: center;
    .time-info {
      order: 1;
    }

    .btn-minus-3h {
      order: 0;
    }

    .btn-plus-3h {
      order: 2;
    }

    width: 100%;
    @include flex;
    order: 0;
    margin-bottom: 1.5em;
  }

  .show-timetable {
    order: 2;

    margin-bottom: -3em;
    @include breakpoint(medium) {
      margin-bottom: -3.4em;
    }
  }

  .timetable {
    order: 1;
    width: 100%;
    > div {
      display: grid;
      // gap: 3em;
      grid-template-columns: 1fr 1fr;
      // justify-content: space-around;
      // justify-content: space-between;
      @include breakpoint(tiny) {
      }

      margin-bottom: 1.5em;
      text-align: center;
    }
  }

  @include tab;
  background: $tabColorSecondary;
  @include flex;
  flex-direction: column;
}
