@import "/components/abstracts/mixins.scss";

.time-tab {
  .main {
    text-align: center;
    .time-info {
      order: 1;
    }

    .btn-minus-3h {
      order: 0;
    }

    .btn-plus-3h {
      order: 2;
    }

    width: 100%;
    @include flex;
    order: 0;
    margin-bottom: 1.5em;
  }

  .show-timetable {
    order: 2;

    margin-bottom: -3em;
    @include breakpoint(medium) {
      margin-bottom: -3.4em;
    }
  }

  @include tab;
  background: $tabColorSecondary;
  @include flex;
  flex-direction: column;
}
