@import "/components/abstracts/mixins.scss";

.timetable {
  order: 1;
  width: 100%;
  > div {
    display: grid;
    // gap: 3em;
    grid-template-columns: 1fr 1fr;
    // justify-content: space-around;
    // justify-content: space-between;
    @include breakpoint(tiny) {
    }

    margin-bottom: 1.5em;
    text-align: center;
  }
}
